.container{
	padding: 0 10%;
	display: inline-block;
}

.grupo-customizacao input{
	display: block;
	width: 100%;
	border-radius: 5px;
}

.grupo-stat-base label:first-child{
	display: block;
	font-weight: bold;
	margin: 1px 0px;
}