.barra-lateral{
	background-color: #FFF;
	transition-property: width;
	transition-duration: 0.3s;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	box-shadow: -10px 0px 10px 0px #000;
	overflow-x: hidden;
	overflow-y: auto;
}

.resumo-pokemon{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon.img-resumo-pokemon{
	width: 200px;
	height: 150px;
	margin-bottom: 1%;
}

label{
	font-weight: bold;
}

.container-acoes{
	text-align: center;
}

#incluir-pokemon{
	border-radius: 5px;
	
	padding: 5px;
}