*{
	font-family: Arial, Helvetica, sans-serif;
}

html,
html body,
app-root{
	min-height: 100%;
	width: 100%;
	margin: 0px;
}

app-root{
	display: block;
}

h1{
	color: #369;
	font-size: 500%;
	text-align: center;
}

h2, h3{
	color: #444;
	font-weight: lighter;
}

body{
	margin: 2em;
}

body input[type="text"], button{
	color: #333;
}

button{
	border-radius: 5px;	
	padding: 5px;
	border: 1px solid #848383;
	background-color: #FFF;
	cursor: pointer;
}

button:hover{
	background-color: #e6e6e6;
}

button:active,
button:disabled{
	background-color: #bdbdbd;
}

button:disabled{
	cursor: default;
}

.btn-lg{
	padding-top: 15px;
	padding-bottom: 15px;
}

.icon{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.item-lista{
	width: 100px;
	height: 75px;
	display: inline-block;
}

.item-lista:hover,
.membro-time:hover{
	transition: background-size 0.5s ease-out;
	background-size: 110% 110%;	
	border-color:#000;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}

.membro-time{
	width: 100px;
	height: 75px;
	display: inline-block;
	margin: 0px 15px;
	position: relative;
}

.membro-time::after{
    content: "";
    box-shadow: 0px 0em 30px 5px #000;
    width: 50%;
    height: 0px;
    display: block;
    position: absolute;
    bottom: 0px;
    margin: 0 25%;
}

.container-app{
	display: flex;
	flex-direction: column;
}

.container-selecao-time{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.selecao-time,
.container-lista-pokemon{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container-lista-pokemon{
	margin-top: 10%;
}

.flex-container{
	display: flex;
}


.container-modal{
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	justify-content: center;
	background-color: rgba(0,0,0,0.4);
	z-index: 2;
	opacity: 0;
	transition-duration: 0.2s;
	transition-property: opacity;
	top: 0px;
}

.container-modal > *{
	flex-basis: 80%;
	align-self: center;
}

.container-modal > * > div{	
	background-color: #FFF;
}

.type-info{
	padding: 5px;
	font-weight: bolder;
	font-size: 12px;
	color: white;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
}

.type-info.normal{
	background-color: #A8A878;
	border-color: #6D6D4E;
}

.type-info.grass{
	background-color: #78C850;
	border-color: #4E8234;
}

.modal{
	border-radius: 5px;
	padding: 0.1px 15px;
}

.modal-title{
	border: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #DDD;
}

.modal-opcoes{
	border: 0px;
	border-top-width: 1px;
	border-style: solid;
	border-color: #DDD;
	text-align: right;
}

.modal-opcoes button{
	margin: 10px;
	min-width: 10%;
	font-size: 24px
}
