.detalhes-pokemon{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.detalhes-pokemon > div{
	flex-grow: 1;
}

.container-stats{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.nome-pokemon{
	flex-basis: 100%;
}

.icon{
	width: 400px;
	height: 300px;
	float: right;
	background-size: 100% 100%;
}

.container-icon{
	align-self: center;
}

