<div class="detalhes-pokemon" *ngIf="pokemon != null" (click)="pokemonService.limpaPokemonEscolhido()">
	<div class="container-icon">
		<div [class]="pokemon.className + ' icon'" [attr.form]="pokemon.form"></div>
	</div>
	<div class="container-stats">
		<div class="nome-pokemon">
			<h2>{{pokemon.name}}</h2>
		</div>
		<app-form-customizacao-stat [titulo]="'Base Stats'" [classeContainer]="'container-base'" [classeInput]="'input-base'" [disabled]="true" [statsModel]="pokemon.stats"></app-form-customizacao-stat>
		<app-form-customizacao-stat [titulo]="'Effort Values'" [classeContainer]="'customizar-ev'" [classeInput]="'input-ev'" [statsModel]="pokemon.ev"></app-form-customizacao-stat>
		<app-form-customizacao-stat [titulo]="'Invidual Values'" [classeContainer]="'customizar-iv'" [classeInput]="'input-iv'" [statsModel]="pokemon.iv"></app-form-customizacao-stat>
		<div class="container-opcoes">
			<button class="btn-selecionar-movimentos btn-lg" (click)="exibirMoves()">Change Moves</button>
		</div>
	</div>
</div>
<div class="container-modal" [ngStyle]="{'display': displayModalMove, 'opacity': opacityModalMove}" *ngIf="pokemon != undefined">
	<app-seleciona-move [pokemon]="pokemon" (fechar)="fecharMoves()" (adicionarPokemon)="fecharMoves(); adicionarPokemon()"></app-seleciona-move>
</div>
<div class="container-modal" [ngStyle]="{'display': displayModalPosicaoTime, 'opacity': opacityModalPosicaoTime}" *ngIf="pokemon != undefined">
	<app-seleciona-posicao-time></app-seleciona-posicao-time>
</div>